.subscribeButton {
    width: 260px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 32px;
    background: var(--yellow-500);
    transition: filter .2s;

    &:hover {
        filter: brightness(0.8);
    }

    span {
        font-weight: bold;
        color: var(--gray-900);
    }
}
